<table id="dt_events" class="table table-striped table-bordered dTableR">
  <thead>
  <tr>
    <th>Branch</th>
    <th>Service</th>
    <th>Staff</th>
    <th>Customer</th>
    <th>Date</th>
    <th>Time</th>
    <th>Duration</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td class="dataTables_empty" colspan="9">Loading data from server</td>
    </tr>
  </tbody>
</table>


<script>
  GeboDatatbles.dt_events(
    "<%= list_datable_account_events_path(
          :service_filter => params[:service_filter],
          :staff_filter => params[:staff_filter],
          :start_date_filter => form_date(params[:start_date_filter]),
          :end_date_filter => form_date(params[:end_date_filter])
         ) %>"
  );
</script>