<div class="column grid_2a ">
  <div class="widget">
    <header><h2>Photos & Reviews</h2></header>
    <section style="height:510px;">
      <dl><%= image_tag("salon1.jpg", :size => "200x150") %></dl>
      <ul>
        <br /><li>Service was freakin' awesome. Stylists are world-class. - <b>Hailey Jade</b></li>
        <%= image_tag("icons/Star.png", :size => "20x20") %><%= image_tag("icons/Star.png", :size => "20x20") %><%= image_tag("icons/Star.png", :size => "20x20") %><%= image_tag("icons/Star.png", :size => "20x20") %><%= image_tag("icons/Star.png", :size => "20x20") %>
        <br /><li>Been coming here for 6 months now. They never disappoint. I would recommend them to anybody who appreciates good service. - <b>Mac Miller</b></li>
        <%= image_tag("icons/Star.png", :size => "20x20") %><%= image_tag("icons/Star.png", :size => "20x20") %><%= image_tag("icons/Star.png", :size => "20x20") %><%= image_tag("icons/Star.png", :size => "20x20") %><%= image_tag("icons/Star_half.png", :size => "20x20") %>
      </ul>
      <div class="cb-footer">
      <%= image_tag("sec1.jpg") %>&nbsp;<%= image_tag("sec2.jpg") %>
      <br />
      <%= image_tag("payment.gif", :size => "200x40") %>
      </div>
    </section>
  </div>
</div>