<% if @cdate.errors.empty?%>
  $(".company-progress-status").attr("data-id", "<%= @company.progress_status %>")
	Application.load_content("/companies/closedate");
<% else %>
	html = "<ul class='unstyled alert alert-error'>";
  <% @cdate.errors.messages.each do |err| %>
  	html += "<li><%= err.first.to_s.titleize %> <%= err[1].first %></li>";
  <% end%>
  html += "</ul>";
  $(".errors").html(html);
  $(".errors").show();
  
	$('body,html').animate({ scrollTop: 0}, 500);
<% end %>

