<h3 class="heading">Account Setup Wizard</h3>

<ul id="validate_wizard-titles" class="stepy-titles clearfix">
	<li id="validate_wizard-title-0" class="current-step" ><div>Business Details</div><span class="stepNb">1</span></li>
	<li id="validate_wizard-title-1" class="current-step"><div>Operating Hours</div><span class="stepNb">2</span></li>
	<li id="validate_wizard-title-2" class="current-step"><div>Staff</div><span class="stepNb">3</span></li>
	<li id="validate_wizard-title-2" class="current-step"><div>Services</div><span class="stepNb">4</span></li>
	<li id="validate_wizard-title-2" class="current-step"><div>Notification settings</div><span class="stepNb">5</span></li>
	<li id="validate_wizard-title-2" ><div>Complete</div><span class="stepNb">6</span></li>
</ul>


<%= form_tag notifications_steps_path, :id => "notifications" do %>

		<fieldset title="" class="step" id="validate_wizard-step-0">
	

			<div class="errors hide span7"></div>
			<div style="clear:both"></div><br/>
		
			<div class="row-fluid formSep ">	
				<div class="control-group">
					<label class="control-label span2"></label>
					<div class="controls">
						
							<%= check_box_tag :enable, 1, @branch.notify_enabled %>  Enable Notifications
						
					</div>			
				</div>
			</div>
		
			<div class="row-fluid">	
				<div class="control-group">
					<label class="control-label span2">Email Address:</label>
					<div class="controls">
						<%= text_field_tag :email, @branch.notify_options[:email], :class => "span4 email", :required => true  %>
					</div>			
				</div>
			</div>
		
			<div class="row-fluid">	
				<div class="control-group">
					<label class="control-label span2">How often:</label>
					<div class="controls span4" style="margin-left: 0px !important;">
						
						<label class="radio" style="margin-left: 0px !important;">
							<%= radio_button_tag :frequency, "everytime", (@branch.notify_options[:frequency] == 'everytime'), :required => true  %> Everytime
						</label>
						<label class="radio">
							<%= radio_button_tag :frequency, "day", (@branch.notify_options[:frequency] == 'day'), :required => true  %> Once a day
						</label>
						<label class="radio">
							<%= radio_button_tag :frequency, "week", (@branch.notify_options[:frequency] == 'week'), :required => true  %> Once a week
						</label>
						
					</div>			
				</div>
			</div>

	
			<button type="submit" name="button" class="btn btn-primary button-next">Save and Next <i class="icon-chevron-right icon-white"></i></button>	 
			<%= link_to raw("<i class=\"icon-chevron-left icon-white\"></i> Back"), services_steps_path, :class => "btn btn-primary button-next", :style => "margin-right: 10px;" %>

		</fieldset>
	<% end %>


	  <div class="stepy-error"></div>


<script>
  $(function() {
  	
  	$("#notifications").validate();

    $("#enable").change(function(){
    	var val = $(this).attr('checked');
    	
    	if (val) {
    		$("#email").removeAttr('disabled');
    		$("input[name='frequency']").removeAttr('disabled');
    	}else{
    		$("#email").attr('disabled', 'disabled');
    		$("input[name='frequency']").attr('disabled', 'disabled');
    	}
    })
  });
  
  var notify_disabled = "<%= @branch.notify_enabled? ? 'false' : 'true' %>";
  
	if (notify_disabled == "true") {
		$("#email").attr('disabled', 'disabled');
		$("input[name='frequency']").attr('disabled', 'disabled');
	}
</script>